@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Itim', cursive;
}

body {
    background-color: #fff;
    font-size: 14px;
    color: #9195A4;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

// Default Styles
a {
    text-decoration: none;
}

button,
input {
    outline: none;
}

.auth-link {
    color: #778BEF;
    font-weight: 700;
    letter-spacing: .6px;
}